
<h3>These are our Stylists: </h3>
#if($stylists.size() > 0)
  #foreach ($stylist in $stylists)
    <li><a href="/stylists/$stylist.getId()">$stylist.getName()</a></li>
  #end
#else
  <p>None</p>
#end
<br>
<a href="/stylists/new">Add new Stylist</a>
<br>
<a href="/clients/new">Add new Client</a>
<br>
<a href="/deleteStylists">Delete Stylists</a>
<br>
<a href="/deleteClients">Delete Clients</a>
