<form action="/stylists/new_stylist" method="post">
  <label for="name">Enter Name: </label>
  <input type="text" name="name" value=""><br>

  <button type="submit" name="button">Add Stylist</button>
</form>
