<h3>Enter new Client information: </h3>
<br>
<form action="new" method="post">
  <label for="name">Enter Name: </label>
  <input type="text" name="name" value="">
  <button type="submit" name="button">Add Client</button>
</form>
